@model prjAlbum.Models.TCategory

@{
    ViewData["Title"] = "相簿分類修改";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>相簿分類修改</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CategoryEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FCid" />
            <div class="form-group">
                <label asp-for="FCname" class="control-label"></label>
                <input asp-for="FCname" class="form-control" />
                <span asp-validation-for="FCname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
